@font-face {  
    font-family: 'Phantom Sans';  
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')  
    format('woff'),  
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')  
    format('woff2');  
    font-weight: normal;  
    font-style: normal;  
    font-display: swap;  
}  
@font-face {  
    font-family: 'Phantom Sans';  
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')  
    format('woff'),  
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')  
    format('woff2');  
    font-weight: normal;  
    font-style: italic;  
    font-display: swap;  
}  
@font-face {  
    font-family: 'Phantom Sans';  
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')  
    format('woff'),  
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')  
    format('woff2');  
    font-weight: bold;  
    font-style: normal;  
    font-display: swap;  
}

body{  
    font-family: 'Phantom Sans', sans-serif;  
    background-image: url("img/backgroundtile.png");  
    color: azure;  
}  
  
#header, #footer{  
    text-align: center;  
}
#tree-container {
  position: relative;
  max-width: 20rem;
  max-height: 32rem;
  display: flex;
  margin: auto;
}
.ornament {
position: absolute;
width: 2rem;
margin-top: 4rem;
z-index: 10;
}

#tree {
    width: 20rem;
    margin-top: 2.5rem;
    z-index: 0;
}

#star {
    position: relative;
    margin: 0 -13.5rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: 5;
}
